body{
    font-family: Roboto, sans-serif ;
  }

ul, li, ol{
    list-style: none;
}

:root{
    --main-text-color:#757575; 
    --primary-white-color:#FFFFFF;
    --logo-black-color:#000000;
    --logo-blue-color:#2196F3;
    --title-black-color:#212121;
    --accent-text-color:#2196F3;
    --banner-color-background:#2F303A;
    --color-rgb-footer:rgba(255, 255, 255, 0.6);
    --background-button-hero:#188CE8;
    --background-filters-color:#F5F4FA;

}

.logo {
text-decoration: none;   
font-family: Raleway;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--logo-black-color);
   
}

.weblogo {
    color: var(--logo-blue-color);
}

.site-nav, .nav-list .current{
    color: var(--blue);
}

.nav-list .link,
.nav-contacts-list .contacts a{
    color: var(--title-black-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.nav-list .link:hover,
.nav-list .link:focus{
    color: var(--accent-text-color);
   
}

.nav-list .link .current{
    color: var(--accent-text-color);
    text-decoration: none;
}

.nav-contacts-list.tel .contacts {
    color: var(--main-text-color);
    text-decoration: none;
}

.nav-contacts-list .contacts {
    color: var(--accent-text-color);
    text-decoration: none;
}


.nav-contacts-list.tel .contacts {
    color: var(--main-text-color);
    text-decoration: none;
}




.order {
    background: var(--banner-color-background);
    text-align:center;
    height:600px;
    padding-top:200px;
    box-sizing: border-box;
}

.order h1 {
    color:var(--primary-white-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}


.order-button{
    width: 200px;
    height: 50px;
    font-size: 16px;
    line-height: 1.88;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    border: none;
    background: var(--background-button-hero);
    color: var(--primary-white-color);
    padding: 10px 32px;
    border-radius: 4px;
}

.order-button:hover,
.order-button:focus{
    background-color: var(--background-button-hero);
    box-shadow:var(--color-box-shadow);
    background: rgb(33, 150, 243, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.intro-button{
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    color: var(--logo-black-color);
    border: none;
    padding: 6px 22px;
    background: var(--background-filters-color);
    border-radius: 4px;
    margin-bottom:2px;

}

.intro-button:hover,
.intro-button:focus{
    background-color: var(--background-button-hero);
    box-shadow:var(--color-box-shadow);
    color:var(--primary-white-color);
    background: var(--accent-text-color);
/* shadow-middle */
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.command-list.title{
    color: var(--logo-black-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
 }

.command-list.text{
    color: var(--main-text-color);
    font-size: 400;
    font-size: 16px;
    line-height: 1.18;
   
}


.project-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;

}

.feature-list.title{
    color: var(--title-black-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.feature-list .text{
    color: var(--main-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    height: 75;
    width: 275;
}  


.project-explanation.text{
    color: var(--main-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
}


address {font-style: normal;}

.footer-adress {
    background-color: var(--banner-color-background);
}   

.footer-list a{
       text-decoration: none;
   

}

.logo-footer {
    color: var(--primary-white-color);
    font-family: Raleway;
    font-weight: normal;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}



.weblogo-footer{
    color:var(--logo-blue-color);
    
 } 

 .link-adress {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    
 }

 .contacts-footer.info {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal; 
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

 } 

 

    
 